<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <style>
      @font-face {
        font-family: "Noori Nastaleeq";
        src: url("fonts/urdu-font.ttf") format("truetype");
      }

      body {
        background-color: #f8f8f8;
        font-family: "Noori Nastaleeq", sans-serif;
      }
      * {
        margin: 0px;
        padding: 0px;
      }
      header {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        background: #004b87 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
      }
      .editor-name {
        margin-left: 25px;
        position: relative;
        font-weight: bold;
        font-size: 15px;
        color: wheat;
        gap: 15px;
        display: flex;
        width: 80%;
        align-items: end;
        height: 30px;
      }

      .logo {
        position: relative;
        top: 5px;
        left: 85%;
        width: 80px;
        height: 80px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
      }
      form {
        background: linear-gradient(to top right, #92deff, #cdd6f1);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;

        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        background-color: #f8f8f8;
      }
      .form {
        margin-top: 100px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      h1 {
        text-align: center;
        color: #fff;
      }
      input[type="email"],
      input[type="password"],
      button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
      }
      input[type="email"],
      input[type="password"] {
        background-color: #fff;
        transition: border-color 0.3s ease;
      }
      input[type="email"]:focus,
      input[type="password"]:focus {
        border-color: #4169e1;
      }
      button {
        background-color: rgb(9, 35, 64);
        color: white;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background-color: #094654;
      }
      .form-design {
        height: 350px;
        width: 300px;
        padding-top: 30px;
      }
      input {
        margin-top: 5px;
      }
      .sign {
        margin-top: 30px;
      }
      .lab {
        font-family: "Courier New", Courier, monospace;
        font-size: medium;
        font-weight: bold;
        color: rgb(9, 35, 64);
      }

      @media (min-width: 400px) and (max-width: 767px) {
        .editor-name {
          margin-left: 5px;
          position: relative;
          font-weight: bold;
          font-size: 10px;
          color: wheat;
          gap: 10px;
          display: flex;
          width: 95%;
          align-items: center;
        }
        form {
          height: 300px;
          width: 300px;
        }
      }

      @media (min-width: 768px) and (max-width: 1439px) {
        .editor-name {
          margin-left: 15px;
          position: relative;
          font-weight: bold;
          font-size: 13px;
          color: wheat;
          gap: 10px;
          display: flex;
          width: 80%;
          align-items: end;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <div class="editor-name">
        <div class="ed-name">ریزیڈنٹ ایڈیٹر ادریس چودھری</div>
        <div class="ed-name">ایڈیٹر مظہر اقبال چودھری</div>
        <div class="ed-name">چیف ایڈیٹر طارق محمود چودھری</div>
      </div>
      <img class="logo" src="/images/logo-final.jpg" alt="jhelum news logo" />
    </header>
    <div class="form">
      <form action="/signin" method="post">
        <h1 style="color: #004b87">Sign In</h1>
        <div class="form-design">
          <label class="lab" for="email">Email</label>
          <input type="email" name="email" placeholder="Email" required />
          <label class="lab" for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <button class="sign" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </body>
</html>
